vaccine_scenarios_10.csv filter=lfs diff=lfs merge=lfs -text
vaccine_scenarios_20.csv filter=lfs diff=lfs merge=lfs -text
vaccine_scenarios_30.csv filter=lfs diff=lfs merge=lfs -text
vaccine_scenarios_40.csv filter=lfs diff=lfs merge=lfs -text
vaccine_scenarios_50.csv filter=lfs diff=lfs merge=lfs -text
